.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: white;
}

.image-container {
    text-align: center;
}

.modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: 500;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    padding: 1rem 1.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 0;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    padding: 1rem 1.5rem;
}