
.microsoft-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 0;

    button {
        width: 46px;
        height: 46px;

        a {
            filter: brightness(0) saturate(100%) invert(40%) sepia(11%) saturate(6%) hue-rotate(16deg) brightness(97%) contrast(86%);
        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.contentabc {
  text-align: justify;
  line-height: 1.6;
  word-spacing: 0.05em;
}