<header>
    <div class="logo-burger">
        <img src="/assets/image/dataA-logo.jpg" width="48" height="48">
        <h1>IoTGuard</h1>
    </div>
    <nav class="head-menu">
        <ul>
            <li class="nav-products" data-submenu-id="nav-products">
                <span class="main-menu-link" (click)="global.goToPage('/teacher/dashboard')">Dashboard</span>
            </li>
            <li class="nav-services" data-submenu-id="nav-services">
                <span class="main-menu-link" (click)="global.goToPage('/teacher/about')">About-us</span>
            </li>
        </ul>
        <div class="indicator">
            <div class="head-arrow"></div>
            <div class="line"></div>
            <div class="sub-background"></div>
        </div>
    </nav>
    <div class="head-buttons">
        <!-- <a id="Menu_TryItNow" href="/installations/" class="n-button try gtm_button">Try it now</a>
        <a id="Menu_Pricing" href="/pricing/" class="n-button price gtm_button">Pricing</a> -->
    </div>
</header>
<main>
    <section id="hero" class="light-text" data-vide-bg="mp4: https://video.thingsboard.io/tb-cover2.mp4,
											  webm: https://video.thingsboard.io/tb-cover2.webm,
											  ogv: https://video.thingsboard.io/tb-cover2.ogv,
											  poster: https://img.thingsboard.io/tb-cover.webp"
        data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: webp">
        <div
            style="position: absolute; z-index: -1; inset: 0px; overflow: hidden; background-size: cover; background-color: rgb(0, 0, 0); background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
            <video autoplay="" loop="" preload="auto" muted=""
                style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: auto; height: 851px;"
                __idm_id__="737281">
                <source src="https://video.thingsboard.io/tb-cover2.mp4" type="video/mp4">
                <source src="https://video.thingsboard.io/tb-cover2.webm" type="video/webm">
                <source src="https://video.thingsboard.io/tb-cover2.ogv" type="video/ogg">
            </video>
        </div>
        <div class="video-cover"></div>

        <div class="achievement">
            <a href="/blog/top-supplier-retail-2024-2/">
                <img class="achieve" src="https://img.thingsboard.io/feature-logo/top-supplier-retail-2024.webp"
                    alt="Top supplier retail 2024" width="110" height="160">
            </a>
        </div>

        <div id="hero-content" class="">
            <span class="header-animation tb-title">IoTGuard</span>
            <span class="header-animation tb-title">Real-Time IoT Security Platform</span>
            <h4 class="header-animation tb-sub-title">Automated
                threat detection, machine learning-driven security analytics for your IoT ecosystem</h4>
            <div class="header-animation">
                <a href="#intro" class="button learn-tb">Learn More</a>
            </div>
            <div class="tb-arrow">
                <a href="#intro" aria-label="Link to main heading"><i class="pi pi-angle-down"
                        style="font-size: 2rem"></i></a>
            </div>
        </div>
    </section>

    <section id="overflow">
        <section id="intro">
            <div class="main-div">
                <h1><a href="docs/getting-started-guides/what-is-thingsboard/">ThingsBoard</a> is a Real-time IoT
                    security platform for automated threat detection,
                    advanced analytics, and proactive device protection</h1>
                <h2 class="second in-the-past-h1">It enables advanced machine
                    learning algorithms—Random Forest and XGBoost—for real-time threat analysis,
                    ensuring robust security across diverse IoT environments. IoTGuard offers scalability,
                    adaptability, and continuous performance to effectively safeguard your IoT infrastructure.</h2>
            </div>
        </section>

        <section id="manage">
            <div class="main-div">
                <div id="features-top">
                    <div class="background">
                        <div class="main1"></div>
                        <div class="small1"></div>
                        <div class="small2"></div>
                        <div class="small3"></div>
                        <div class="small4"></div>
                    </div>
                    <div class="blocks">
                        <div class="feature-des"><span class="phrase-heading">Provision and manage devices and
                                assets</span>
                            <p>Provision, monitor and control your IoT entities in secure way using rich server-side
                                APIs. Define relations between your devices, assets, customers or any other entities.
                            </p>
                            <a class="read-more-button" href="/docs/user-guide/entities-and-relations/">Read more about
                                entities and relations
                                <i class="fas fa-chevron-right arrow first"></i>
                                <i class="fas fa-chevron-right arrow second"></i>
                                <i class="fas fa-chevron-right arrow third"></i>
                            </a>
                        </div>
                        <div class="manage">
                            <img class="device-list" src="https://img.thingsboard.io/device-list.svg"
                                alt="Device list with checkboxes" width="626" height="335" loading="lazy">
                            <img class="device-manage" src="https://img.thingsboard.io/device-manage.svg"
                                alt="Device managing panel" width="543" height="509" loading="lazy">
                        </div>
                    </div>
                    <div class="blocks vis">
                        <div class="visualize">
                            <img class="vis1" src="https://img.thingsboard.io/visualize1.svg" alt="Linear chart"
                                width="668" height="263" loading="lazy">
                            <img class="vis2" src="https://img.thingsboard.io/visualize2.svg"
                                alt="Common chart with points" width="457" height="263" loading="lazy">
                            <img class="vis3" src="https://img.thingsboard.io/visualize3.svg" alt="Digital level chart"
                                width="197" height="263" loading="lazy">
                        </div>
                        <div class="feature-des"><span class="phrase-heading">Collect and analyze data</span>
                            <p>Gather, store, and
                                interpret IoT security data in real time. Securely share insights with your team or
                                stakeholders.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="scada">
            <div class="main-div">
                <div id="features-top-1">
                    <div class="background">
                        <div class="main2"></div>
                    </div>
                    <div class="blocks scada">
                        <div class="feature-des">
                            <div class="scada-mode-selector">
                                <div class="mode active gtm_button" onclick="activateScadaSection(this, 'performance')">
                                    <h3>High-performance</h3>
                                </div>
                                <div class="mode gtm_button" onclick="activateScadaSection(this, 'traditional')">
                                    <h3>Traditional</h3>
                                </div>
                            </div>
                            <span class="phrase-heading scada-title">SCADA High-performance</span>
                            <p>Monitor and control your industrial processes in real time with SCADA. Use SCADA symbols
                                on dashboards to create and manage any workflow, offering full flexibility to design and
                                oversee operations according to your requirements.</p>
                            <a class="read-more-button" href="/use-cases/scada/">Read more about SCADA
                                <i class="fas fa-chevron-right arrow first"></i>
                                <i class="fas fa-chevron-right arrow second"></i>
                                <i class="fas fa-chevron-right arrow third"></i>
                            </a>
                        </div>
                        <div class="scada-svg">
                            <img class="scada-scheme high-perf"
                                src="https://img.thingsboard.io/high-perf-scada-background.svg"
                                alt="SCADA background blocks schema">
                            <img class="scada-scheme trad hidden" src="https://img.thingsboard.io/scada-background.svg"
                                alt="SCADA background blocks schema">
                            <div class="scada-fade"></div>
                            <div class="scada-background"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="react">
            <div class="main-div">
                <div id="features-top-2">
                    <div class="background">
                        <div class="main3"></div><img src="https://img.thingsboard.io/grid.svg" alt="Grid background"
                            loading="lazy">
                        <div class="small5"></div>
                        <div class="small6"></div>
                    </div>
                    <div class="blocks dark">
                        <div class="process">
                            <img class="react" src="https://img.thingsboard.io/react.svg" alt="Rule nodes chain"
                                width="1031" height="230" loading="lazy">
                            <img class="add-rule" src="https://img.thingsboard.io/add-rule.svg"
                                alt="Add rule node example" width="626" height="482" loading="lazy">
                        </div>
                        <div class="feature-des"><span class="phrase-heading">Monitor and Mitigate</span>
                            <p>Stay ahead of potential risks
                                with real-time alerts whenever data deviates from expected parameters or indicates
                                security threats.
                                IoTGuard automatically flags suspicious activities, raises notifications, and enables
                                swift responses—
                                whether by isolating compromised devices or prompting immediate user actions.</p>
                            <a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read
                                more about rule engine
                                <i class="fas fa-chevron-right arrow first"></i>
                                <i class="fas fa-chevron-right arrow second"></i>
                                <i class="fas fa-chevron-right arrow third"></i>
                            </a>
                        </div>
                    </div>
                    <div class="blocks micro">
                        <div class="feature-des microservices">
                            <h2>Microservices</h2>
                            <p>Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with
                                microservices architecture. ThingsBoard also supports both cloud and on-premises
                                deployments.</p>
                            <a class="read-more-button" href="/docs/reference/msa/">Read more about microservices
                                <i class="fas fa-chevron-right arrow first"></i>
                                <i class="fas fa-chevron-right arrow second"></i>
                                <i class="fas fa-chevron-right arrow third"></i>
                            </a>
                        </div>
                        <img src="https://img.thingsboard.io/microservices.svg" alt="Microservices blocks schema"
                            width="569" height="327" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <section id="products">
            <div class="main-div">
                <div class="background">
                    <div class="products"></div>
                    <div class="small7"></div>
                    <div class="small8"></div>
                </div>
                <h3 class="product-title">Products</h3>
                <div class="product-list">
                    <div>
                        <p>ThingsBoard</p>
                        <h2>Community Edition</h2>
                        <h3>Bring your ideas to life</h3>
                        <img src="https://img.thingsboard.io/community.svg" alt="Community edition blocks" width="228"
                            height="134" loading="lazy">
                        <a href="/docs/">See Community Edition documentation</a>
                    </div>
                    <div class="main">
                        <p>ThingsBoard</p>
                        <h2>Cloud</h2>
                        <h3>Keep everything in a secure cloud</h3>
                        <img src="https://img.thingsboard.io/cloud.svg" alt="Cloud edition blocks" width="280"
                            height="164" loading="lazy">
                        <a href="/products/paas/">See Cloud documentation</a>
                    </div>
                    <div>
                        <p>ThingsBoard</p>
                        <h2>Professional Edition</h2>
                        <h3>Get all the functions of ThingsBoard</h3>
                        <img src="https://img.thingsboard.io/professional.svg" alt="Professional edition blocks"
                            width="228" height="140" loading="lazy">
                        <a href="/products/thingsboard-pe/">See Professional Edition documentation</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="product-ecosystem">
            <div class="main-div">
                <div class="background">
                    <div class="product-ecosystem"></div>
                </div>
                <h3 class="product-ecosystem-title">Product ecosystem</h3>
                <div class="product-ecosystem-list">
                    <div>
                        <h2>Edge</h2>
                        <h3>Edge computing</h3>
                        <img src="https://img.thingsboard.io/thingsboard-e-icon.svg" alt="Thingsboard Edge" width="100"
                            height="100" loading="lazy">
                        <a href="/products/thingsboard-edge/">Read more</a>
                    </div>
                    <div>
                        <h2>IoT Gateway</h2>
                        <h3>Connect legacy protocols</h3>
                        <img src="https://img.thingsboard.io/gateway-icon.svg" alt="IoT Gateway" width="100"
                            height="100" loading="lazy">
                        <a href="/docs/iot-gateway/what-is-iot-gateway/">Read more</a>
                    </div>
                    <div>
                        <h2>MQTT Broker</h2>
                        <h3>Connect MQTT clients</h3>
                        <img src="https://img.thingsboard.io/tbmq-icon.svg" alt="MQTT Broker" width="100" height="100"
                            loading="lazy">
                        <a href="/products/mqtt-broker/">Read more</a>
                    </div>
                    <div>
                        <h2>Trendz Analytics</h2>
                        <h3>Data analytics and Prediction</h3>
                        <img src="https://img.thingsboard.io/trendz-icon.svg" alt="Trendz Analytics" width="100"
                            height="100" loading="lazy">
                        <a href="/products/trendz/">Read more</a>
                    </div>
                    <div>
                        <h2>Mobile Application</h2>
                        <h3>IoT mobile product</h3>
                        <img src="https://img.thingsboard.io/tb-mobile-icon.svg" alt="Mobile Application" width="100"
                            height="100" loading="lazy">
                        <a href="/products/mobile/">Read more</a>
                    </div>
                    <div>
                        <h2>PE Mobile Application</h2>
                        <h3>Advanced IoT mobile product</h3>
                        <img src="https://img.thingsboard.io/tb-pe-mobile-icon.svg" alt="PE Mobile Application"
                            width="100" height="100" loading="lazy">
                        <a href="/products/mobile-pe/">Read more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="dashboard_description">
            <div class="main-div">
                <div _ngcontent-ng-c1852626429="" class="background">
                    <div _ngcontent-ng-c1852626429="" class="dashboards"></div>
                    <div _ngcontent-ng-c1852626429="" class="small9"></div>
                    <div _ngcontent-ng-c1852626429="" class="small10"></div>
                </div>
                <h3>Real-Time IoT Security Dashboards</h3>
                <p>
                    IoTGuard provides dynamic security dashboards for
                    real-time visualization of device behavior and threat activity. It ensures rapid detection and
                    mitigation of potential risks across a broad range of IoT scenarios.
                </p>

            </div>
        </section>

        <section id="rule-engine">
            <div class="main-div">
                <div class="rule hidden" data-loading="false">
                    <a class="rule-button img-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">
                        <div class="overlay">
                            <div class="eye"><i class="far fa-eye"></i>See more about IoT Rule Engine</div>
                        </div><img src="https://img.thingsboard.io/demo/send-email-rule-chain.gif"
                            alt="Send email rule chain creation" width="890" height="375" loading="lazy">
                    </a>
                    <div class="des">
                        <h3>IoT Rule Engine</h3>
                        <p>ThingsBoard allows you to create complex <a
                                href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Chains</a> to process
                            data from your devices and match your application specific use cases.</p>
                        <a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read
                            more about rule engine
                            <i class="fas fa-chevron-right arrow first"></i>
                            <i class="fas fa-chevron-right arrow second"></i>
                            <i class="fas fa-chevron-right arrow third"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="bottom-features">
            <div class="main-div">
                <div class="background">
                    <div class="bottom-features1"></div>
                    <div class="bottom-features2"></div>
                    <div class="small11"></div>
                    <div class="small12"></div>
                    <div class="bottom-features3"></div>
                    <div class="small13"></div>
                    <div class="small14"></div>
                    <div class="small15"></div>
                </div>
                <h3>ThingsBoard Features</h3>
                <div id="cards" class="row">
                    <div class="col-lg-6">
                        <div class="blocks">
                            <img src="https://img.thingsboard.io/telemetry-icon.svg" alt="Telemetry data collection"
                                loading="lazy">
                            <div>
                                <a class="title">Real-Time Threat Detection and Analysis</a>
                                <p>Continuously monitor IoT data in real time to identify unusual patterns, suspicious
                                    activities, and
                                    potential threats. IoTGuard flags anomalies as soon as they occur, enabling swift
                                    containment and
                                    minimizing security risks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blocks"><img src="https://img.thingsboard.io/tenancy-icon.svg"
                                alt="Multi tenancy available" loading="lazy">
                            <div>
                                <a class="title">Machine Learning Integration</a>
                                <p>Incorporate powerful algorithms such as Random Forest and XGBoost for continual
                                    learning. These
                                    models adapt to evolving attack vectors, achieving higher detection rates while
                                    reducing false positives.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blocks"><img src="https://img.thingsboard.io/visualization-icon.svg"
                                alt="Data visualization providing" loading="lazy">
                            <div>
                                <a class="title">User Interface and Visualizationn</a>
                                <p>Benefit from an intuitive web-based interface that offers clear, customizable
                                    dashboards and visual
                                    representations. Users can effortlessly track device status, monitor threats, and
                                    gain actionable insights for
                                    efficient decision-making.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blocks"><img src="https://img.thingsboard.io/scalability-icon.svg"
                                alt="Scalability available" loading="lazy">
                            <div>
                                <a class="title">Reporting and Mitigation</a>
                                <p>Receive real-time alerts, generate detailed threat reports, and follow recommended
                                    steps for incident
                                    response. IoTGuard’s automated mitigation features allow users to isolate
                                    compromised devices or block
                                    malicious traffic immediately, safeguarding the wider IoT environment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blocks"><img src="https://img.thingsboard.io/engine-icon.svg" alt="IoT rule engine"
                                loading="lazy">
                            <div>
                                <a class="title">Device Data Upload and Validation</a>
                                <p>Users can upload IoT telemetry and network data, with built-in validations to ensure
                                    file types, sizes, and
                                    formats are correct. This ensures that only high-quality, processable data enters
                                    the analysis pipeline.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blocks"><img src="https://img.thingsboard.io/tolerance-icon.svg"
                                alt="Fault tolerance" loading="lazy">
                            <div>
                                <a class="title">Automated IoT Traffic Analysis</a>
                                <p>The system processes uploaded IoT traffic using machine learning algorithms (Random
                                    Forest and
                                    XGBoost) to automatically identify anomalies and detect potential security threats
                                    without manual
                                    intervention</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<footer>
    <div class="light-text main-div">
        <div class="newsletterSubsContainer">
            <div id="mlb2-7341216" class="ml-subscribe-form ml-subscribe-form-7341216"
                style="display: none; max-width: 100%;">
                <!--            <div id="mlb2-7341216" class="ml-subscribe-form ml-subscribe-form-7341216" style="display: block;">-->
                <div class="ml-vertical-align-center">
                    <div class="subscribe-form ml-block-success" style="display: none;">
                        <div class="form-section">
                            <p>Thank you for your interest in ThingsBoard!<br>Have a great day!</p>
                        </div>
                    </div>
                    <form class="ml-block-form gtm_form" id="Footer_SignUpForNewsForm"
                        action="https://static.mailerlite.com/webforms/submit/r9r9x7" data-id="708170"
                        data-code="r9r9x7" method="POST" target="_blank">
                        <div class="subscribe-form horizontal">
                            <div class="form-section horizontal">
                                <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                                    <input type="email" name="fields[email]" class="form-control"
                                        placeholder="Email address*" value="" autocomplete="email"
                                        x-autocompletetype="email" spellcheck="false" autocapitalize="off"
                                        autocorrect="off">
                                </div>
                            </div>
                            <input type="hidden" name="ml-submit" value="1">
                            <div class="form-section horizontal ml-button-position">
                                <button id="Footer_SignUpForNews_Subscribe"
                                    class="primary n-button price subscribe gtm_button" type="submit">
                                    Subscribe
                                </button>
                                <button disabled="disabled" style="display: none;" type="button"
                                    class="n-button loading">
                                    <img src="https://static.mailerlite.com/images/rolling@2x.gif" width="20"
                                        height="20" style="width: 20px; height: 20px;" alt="Loading in progress"
                                        loading="lazy">
                                </button>
                            </div>
                            <p>By subscribing you agree to receive newsletters from ThingsBoard, Inc.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="deeper">
            <a href="/" class="footer-logo" aria-label="Link to homepage"></a>
            <nav>
                <a>Get Started</a>
                <a>Documentation</a>
                <a>Use cases</a>
                <a>Blog</a>
                <a>Services</a>
                <a>Contact us</a>
            </nav>
        </div>
        <div class="deepmost">
            <div class="copyright">© 2025 The IOT Guard Authors</div>
            <div class="social">
                <a href="https://github.com/thingsboard/thingsboard" arial-label="Link to our Github" class="github">
                    <i class="fab fa-lg fa-github" style="color: #847989"></i>
                </a>
                <a href="https://www.youtube.com/thingsboard" arial-label="Link to our Youtube channel" class="youtube">
                    <i class="fab fa-lg fa-youtube" style="color: #847989"></i>
                </a>

                <a href="https://stackoverflow.com/questions/tagged/thingsboard"
                    arial-label="Link to our Stack Overflow page" class="stack-overflow">
                    <i class="fab fa-lg fa-stack-overflow" style="color: #847989"></i>
                </a>

                <a href="https://www.facebook.com/thingsboard" arial-label="Link to our Facebook" class="facebook">
                    <i class="fab fa-lg fa-facebook" style="color: #847989"></i>
                </a>

                <a href="https://www.instagram.com/thingsboard_iot/" arial-label="Link to our Instagram"
                    class="instagram">
                    <i class="fab fa-lg fa-instagram" style="color: #847989"></i>
                </a>

                <a href="https://www.linkedin.com/company/thingsboard/" arial-label="Link to our linkedin"
                    class="linkedin">
                    <i class="fab fa-lg fa-linkedin" style="color: #847989"></i>
                </a>

                <a href="https://twitter.com/thingsboard" arial-label="Link to our X" class="twitter">
                    <img src="https://img.thingsboard.io/social-twitt-icon.svg" alt="Link to our X" width="18"
                        height="18" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</footer>