<header>
    <div class="logo-burger">
        <a href="https://u24.gov.ua/" target="_blank" class="support-ukraine">
            <img src="https://img.thingsboard.io/support-ukraine-banner.webp" alt="Stand with Ukraine flag" width="48"
                height="31">
        </a>
        <a href="/" class="logo" aria-label="Link to homepage"></a>
        <button onclick="Burger()" class="burger" aria-label="Burger menu"></button>
        <div id="githubButtonContainer" style="width: 110px;">
            <span></span>
        </div>
    </div>
    <nav class="head-menu">
        <ul>
            <li class="nav-products" data-submenu-id="nav-products">
                <span class="main-menu-link" onclick="listburg('nav-products')">Products</span>
            </li>
            <li class="nav-services" data-submenu-id="nav-services">
                <span class="main-menu-link" onclick="listburg('nav-services')">Services</span>
            </li>
            <li class="nav-cases" data-submenu-id="nav-cases">
                <a class="main-menu-link" id="use-cases-link" href="/iot-use-cases/" style="cursor: pointer;">Use
                    Cases</a>
            </li>
            <li class="nav-customers" data-submenu-id="nav-customers">
                <span class="main-menu-link" onclick="listburg('nav-customers')">Customers</span>
            </li>
            <li class="nav-company" data-submenu-id="nav-company">
                <span class="main-menu-link" onclick="listburg('nav-company')">Company</span>
            </li>
            <li class="nav-partners" data-submenu-id="nav-partners">
                <span class="main-menu-link" onclick="listburg('nav-partners')">Partners</span>
            </li>
            <li class="nav-docs" data-submenu-id="nav-docs">
                <span class="main-menu-link" onclick="listburg('nav-docs')">Docs</span>
            </li>
            <li class="nav-blog">
                <a class="main-menu-link" id="blog-link" href="/blog/" style="cursor: pointer;">Blog</a>
            </li>
        </ul>
        <div class="indicator">
            <div class="head-arrow"></div>
            <div class="line"></div>
            <div class="sub-background"></div>
        </div>

        <div class="sub-menu-container" style="display: block;">

            <div id="nav-products" class="centered-sub" style="display: block;">
                <ul class="sub-menu products">
                    <li class="sub-groups">
                        <div class="group">
                            <p class="group-name">IoT platforms</p>
                            <a class="com-lnk" href="/">
                                <img src="https://img.thingsboard.io/thingsboard-cm-icon.svg"
                                    alt="Community Edition icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Community Edition</span>
                                    <p>Open-source platform</p>
                                </div>
                            </a>
                            <a class="prof-lnk" href="/products/thingsboard-pe/">
                                <img src="https://img.thingsboard.io/thingsboard-p-icon.svg"
                                    alt="Professional Edition icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Professional Edition</span>
                                    <p>Advanced IoT platform</p>
                                </div>
                            </a>
                            <a class="cloud-lnk" href="/products/paas/">
                                <img src="https://img.thingsboard.io/thingsboard-c-icon.svg" alt="Cloud icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Cloud</span>
                                    <p>Platform as a service</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">Product ecosystem</p>
                            <a class="edge-lnk" href="/products/thingsboard-edge/">
                                <img src="https://img.thingsboard.io/thingsboard-e-icon.svg" alt="Edge icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Edge</span>
                                    <p>Edge computing</p>
                                </div>
                            </a>
                            <a class="gateway-lnk" href="/docs/iot-gateway/what-is-iot-gateway/">
                                <img src="https://img.thingsboard.io/gateway-icon.svg" alt="IoT Gateway icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">IoT Gateway</span>
                                    <p>Connect legacy protocols</p>
                                </div>
                            </a>
                            <a class="mqtt-broker-lnk" href="/products/mqtt-broker/">
                                <img src="https://img.thingsboard.io/tbmq-icon.svg" alt="MQTT Broker icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">TBMQ</span>
                                    <p>Scalable MQTT broker</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">&nbsp;</p>
                            <a class="trendz-lnk" href="/products/trendz/">
                                <img src="https://img.thingsboard.io/trendz-icon.svg" alt="Trendz Analytics icon"
                                    width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Trendz Analytics</span>
                                    <p>Data analytics and Prediction</p>
                                </div>
                            </a>
                            <a class="mobile-lnk" href="/products/mobile/">
                                <img src="https://img.thingsboard.io/tb-mobile-icon.svg" alt="Device icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Mobile Application</span>
                                    <p>IoT mobile product</p>
                                </div>
                            </a>
                            <a class="mobile-pe-lnk" href="/products/mobile-pe/">
                                <img src="https://img.thingsboard.io/tb-pe-mobile-icon.svg"
                                    alt="PE Mobile Application icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">PE Mobile Application</span>
                                    <p>Advanced IoT mobile product</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-services" class="centered-sub" style="display: block;">
                <ul class="sub-menu services">
                    <li class="sub-groups">
                        <div class="group">
                            <a href="/docs/services/development-services/">
                                <img src="https://img.thingsboard.io/development-services.svg"
                                    alt="Development services icon" width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Development services</span>
                                    <p>Customization and complete IoT Solutions development</p>
                                </div>
                            </a>
                            <a href="/docs/services/support/">
                                <img src="https://img.thingsboard.io/support-icon.svg" alt="Support icon" width="34"
                                    height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Support</span>
                                    <p>Support packages</p>
                                </div>
                            </a>
                            <a href="/docs/services/trainings/">
                                <img src="https://img.thingsboard.io/train-icon.svg" alt="Trainings icon" width="34"
                                    height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Trainings</span>
                                    <p>ThingsBoard education courses</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a href="/iot-solutions/">
                                <img src="https://img.thingsboard.io/iot-solutions.svg" alt="IoT solutions icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">IoT Solutions</span>
                                    <p>Overview of IoT Solutions and Applications</p>
                                </div>
                            </a>
                            <a href="/device-management/">
                                <img src="https://img.thingsboard.io/device-management.svg" alt="Device management icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Device management</span>
                                    <p>Streamline Your IoT Device Operations</p>
                                </div>
                            </a>
                            <a href="/monitoring-dashboard/">
                                <img src="https://img.thingsboard.io/monitoring-dashboard.svg"
                                    alt="Monitoring dashboard icon" width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Monitoring dashboard</span>
                                    <p>Visualizing IoT Data on Live Dashboards</p>
                                </div>
                            </a>
                            <a href="/asset-management">
                                <img src="https://img.thingsboard.io/asset-management.svg" alt="Asset management icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Asset Management</span>
                                    <p>IoT Asset Tracking and inventory management</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-cases" class="centered-sub" style="display: block;">
                <ul class="sub-menu cases">
                    <li class="sub-groups">
                        <div class="group">
                            <a href="/smart-energy/">
                                <img src="https://img.thingsboard.io/case-eng-icon.svg" alt="Smart Energy icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Energy</span>
                                    <p>Energy monitoring and efficiency analysis</p>
                                </div>
                            </a>
                            <a href="/use-cases/scada/">
                                <img src="https://img.thingsboard.io/case-scada-icon.svg" alt="SCADA icon" width="34"
                                    height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">SCADA</span>
                                    <p>Control, monitor and analise industrial devices and processes</p>
                                </div>
                            </a>
                            <a href="/use-cases/environment-monitoring/">
                                <img src="https://img.thingsboard.io/case-env-icon.svg"
                                    alt="Environment Monitoring icon" width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Environment Monitoring</span>
                                    <p>Monitor and analyze indoor and outdoor environments</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-office/">
                                <img src="https://img.thingsboard.io/case-off-icon.svg" alt="Smart Office icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Office</span>
                                    <p>Increase productivity and optimize resource consumption</p>
                                </div>
                            </a>
                            <a href="/use-cases/water-metering/">
                                <img src="https://img.thingsboard.io/case-wat-icon.svg" alt="Water Metering icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Water Metering</span>
                                    <p>Water consumption analysis and fraud detection</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-retail/">
                                <img src="https://img.thingsboard.io/case-ret-icon.svg" alt="Smart Retail icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Retail</span>
                                    <p>Control quality of food storage, indoor environment and safety</p>
                                </div>
                            </a>
                            <a href="/smart-farming/">
                                <img src="https://img.thingsboard.io/case-fam-icon.svg" alt="Smart Farming icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Farming</span>
                                    <p>Remote soil, products and equipment monitoring</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a href="/fleet-tracking/">
                                <img src="https://img.thingsboard.io/case-trk-icon.svg" alt="Fleet Tracking icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Fleet Tracking</span>
                                    <p>Fleet tracking and fleet management</p>
                                </div>
                            </a>
                            <a href="/smart-metering/">
                                <img src="https://img.thingsboard.io/case-met-icon.svg" alt="Smart Metering icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Metering</span>
                                    <p>Collection, analysis and visualization of data from meters</p>
                                </div>
                            </a>
                            <a href="/use-cases/health-care/">
                                <img src="https://img.thingsboard.io/case-health-care-icon.svg" alt="Health Care icon"
                                    width="34" height="44" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Health Care</span>
                                    <p>Smart assisted living solution</p>
                                </div>
                            </a>
                            <a href="/use-cases/air-quality-monitoring/">
                                <img src="https://img.thingsboard.io/case-aq-icon.svg" alt="Air Quality Monitoring icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Air Quality Monitoring</span>
                                    <p>Monitor outdoor air quality using a wide range of sensors</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-irrigation/">
                                <img src="https://img.thingsboard.io/smart-irrigation.svg" alt="Smart Irrigation icon"
                                    width="32" height="32" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Irrigation</span>
                                    <p>Soil moisture monitoring and irrigation control</p>
                                </div>
                            </a>
                            <a href="/use-cases/waste-management/">
                                <img src="https://img.thingsboard.io/case-waste-icon.svg" alt="Waste Management icon"
                                    width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Waste Management</span>
                                    <p>Real-time waste management for streamlined processes</p>
                                </div>
                            </a>
                            <a href="/use-cases/tank-level-monitoring/">
                                <img src="https://img.thingsboard.io/case-level-icon.svg"
                                    alt="Tank Level Monitoring icon" width="34" height="34" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Tank Level Monitoring</span>
                                    <p>Monitor the location of fuel tanks and control the level of remaining fuel in
                                        them</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-customers" class="centered-sub" style="display: block;">
                <ul class="sub-menu customers">
                    <li class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/industries/smart-energy/">
                                <img src="https://img.thingsboard.io/se-s-icon.svg" alt="Smart Energy icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Energy</span>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/agriculture/">
                                <img src="https://img.thingsboard.io/agr-s-icon.svg" alt="Agriculture icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Agriculture</span>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/telecom/">
                                <img src="https://img.thingsboard.io/tel-s-icon.svg" alt="Telecom icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Telecom</span>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/warehouse-monitoring/">
                                <img src="https://img.thingsboard.io/sb-s-icon.svg" alt="Warehouse Monitoring icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Warehouse Monitoring</span>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a class="small-link" href="/industries/smart-city/">
                                <img src="https://img.thingsboard.io/sc-s-icon.svg" alt="Smart City icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart City</span>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/smart-buildings/">
                                <img src="https://img.thingsboard.io/sb-s-icon.svg" alt="Smart Buildings icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Smart Buildings</span>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/industry40/">
                                <img src="https://img.thingsboard.io/in-s-icon.svg" alt="Industry 4.0 icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Industry 4.0</span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-company" class="centered-sub" style="display: block;">
                <ul class="sub-menu about">
                    <li class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/company/">
                                <img src="https://img.thingsboard.io/about-s-icon.svg" alt="About Our Company icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Our Company</span>
                                </div>
                            </a>
                            <a class="small-link" href="/docs/contact-us/">
                                <img src="https://img.thingsboard.io/contact-s-icon.svg" alt="Contact Us icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Contact Us</span>
                                </div>
                            </a>
                            <a class="small-link" href="/careers/">
                                <img src="https://img.thingsboard.io/careers-s-icon.svg" alt="Careers icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Careers</span>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a class="small-link" href="/mediakit/">
                                <img src="https://img.thingsboard.io/media-s-icon.svg" alt="Media Kit icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Media Kit</span>
                                </div>
                            </a>
                            <a class="small-link" href="/blog/">
                                <img src="https://img.thingsboard.io/blog-s-icon.svg" alt="Blog icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Blog</span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-partners" class="centered-sub" style="display: block;">
                <ul class="sub-menu about">
                    <li class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/partners/hardware/">
                                <img src="https://img.thingsboard.io/hard-s-icon.svg" alt="Hardware partners icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Hardware partners</span>
                                </div>
                            </a>
                            <a class="small-link" href="/partners/distributors/">
                                <img src="https://img.thingsboard.io/dis-s-icon.svg" alt="Distributors icon" width="24"
                                    height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Distributors</span>
                                </div>
                            </a>
                            <a class="small-link" href="/partners/marketplace/">
                                <img src="https://img.thingsboard.io/marketplace-s-icon.svg" alt="Marketplace icon"
                                    width="24" height="24" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Marketplace</span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nav-docs" class="centered-sub" style="display: block;">
                <ul class="sub-menu products">
                    <li class="sub-groups">
                        <div class="group">
                            <p class="group-name">IoT platforms</p>
                            <a class="com-lnk" href="/docs/">
                                <img src="https://img.thingsboard.io/thingsboard-cm-icon.svg"
                                    alt="Community Edition icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Community Edition</span>
                                    <p>Open-source platform</p>
                                </div>
                            </a>
                            <a class="prof-lnk" href="/docs/pe/">
                                <img src="https://img.thingsboard.io/thingsboard-p-icon.svg"
                                    alt="Professional Edition icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Professional Edition</span>
                                    <p>Advanced IoT platform</p>
                                </div>
                            </a>
                            <a id="cloud-documentation" class="cloud-lnk" href="/docs/paas/">
                                <img src="https://img.thingsboard.io/thingsboard-c-icon.svg" alt="Cloud icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Cloud</span>
                                    <p>Platform as a service</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">Product ecosystem</p>
                            <a class="edge-lnk" href="/docs/edge/">
                                <img src="https://img.thingsboard.io/thingsboard-e-icon.svg" alt="Edge icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Edge</span>
                                    <p>Edge computing</p>
                                </div>
                            </a>
                            <a class="gateway-lnk" href="/docs/iot-gateway/">
                                <img src="https://img.thingsboard.io/gateway-icon.svg" alt="IoT Gateway icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">IoT Gateway</span>
                                    <p>Connect legacy protocols</p>
                                </div>
                            </a>
                            <a class="mqtt-broker-lnk" href="/docs/mqtt-broker/">
                                <img src="https://img.thingsboard.io/tbmq-icon.svg" alt="MQTT Broker icon" width="54"
                                    height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">TBMQ</span>
                                    <p>Scalable MQTT broker</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">&nbsp;</p>
                            <a class="trendz-lnk" href="/docs/trendz/">
                                <img src="https://img.thingsboard.io/trendz-icon.svg" alt="Trendz Analytics icon"
                                    width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Trendz Analytics</span>
                                    <p>Data analytics and Prediction</p>
                                </div>
                            </a>
                            <a class="mobile-lnk" href="/docs/mobile/">
                                <img src="https://img.thingsboard.io/tb-mobile-icon.svg" alt="Device icon icon"
                                    width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">Mobile Application</span>
                                    <p>IoT mobile product</p>
                                </div>
                            </a>
                            <a class="mobile-pe-lnk" href="/docs/pe/mobile/">
                                <img src="https://img.thingsboard.io/tb-pe-mobile-icon.svg"
                                    alt="PE Mobile Application icon" width="54" height="54" loading="lazy">
                                <div class="sub-text">
                                    <span class="item-heading">PE Mobile Application</span>
                                    <p>Advanced IoT mobile product</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="head-buttons">
        <!-- <a id="Menu_TryItNow" href="/installations/" class="n-button try gtm_button">Try it now</a>
        <a id="Menu_Pricing" href="/pricing/" class="n-button price gtm_button">Pricing</a> -->
    </div>
</header>
<section class="about-top-section">
    <div class="about-top-first-div">
        <div class="about-top-sceond-div">
            <h4>IoTGuard Real-Time IoT Security
                Platform engineered to protect your connected ecosystem.</h4>
            <div class="about-top-thrid-div">
                <p>Our ready-to-go connexion infrastructure allows to Advanced threat
                    detection, ML-driven security analytics, and automated risk mitigation for your IoT environment.</p>
            </div>
            <div class="about-top-four-div">
                <a href="#" class="">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="about-map-section">
    <div class="">
        <img src="/assets/image/google-img.png" alt="">
    </div>
</section>
<section class="about-bootom-section">
    <h6>Location</h6>
    <div class="microsoft-teams-img">
        <img src="/assets/image/MicrosoftTeams-image.png" alt="">
    </div>
    <div class="microsoft-text-p">
        <p>C/Jacinto Benavente, 2A. Planta 1ª</p>
        <p>Edificio Tripark. 28232 – Las Rozas de Madrid</p>
    </div>
    <div class="microsoft-icons">
        <button>
            <a href="#">
                <img src="/assets/image/facebook.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/twitter-bird.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/instagram.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/youtube.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/linkedin.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/github.svg">
            </a>
        </button>
    </div>
</section>
<section class="footer-section">
    <div class="grid grid-nogutter footer-main-div">
        <div class="col-3 first-col-div">
            <div class="footer-content first-div">
                <p>Copyright © 2024</p>
                <p>IOT</p>
                <div class="thinger-div">
                    <img src="/assets/image/thinger_logo_white.svg">
                </div>
                <div class="cdti-div">
                    <img src="/assets/image/cdti.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-3 second-col-div">
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>About Us</h2>
                </div>
                <div class="footer-content-text-p">
                    <p>
                        <a href="#">Company</a>
                    </p>
                    <p>
                        <a href="#">Android App</a>
                    </p>
                    <p>
                        <a href="#">iOS App</a>
                    </p>
                    <p>
                        <a href="#">Cloud</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 third-col-div">
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>Follow Us</h2>
                </div>
                <div class="footer-content-icons">
                    <button class="footer-icons">
                        <img src="/assets/image/facebook.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/twitter-bird.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/instagram.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/linkedin.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/discord.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>