<section class="about-top-section">
    <div class="about-top-first-div">
        <div class="about-top-sceond-div">
            <h4>Thinger.io is an Open-Source platform created to simplify IoT product development.</h4>
            <div class="about-top-thrid-div">
                <p>Our ready-to-go connexion infrastructure allows to manage devices, store, monitor and analyze data
                    from
                    thousands of IoT sources.</p>
                <p>The premise is quite simple, use our cloud server to connect your devices or create your own IoT
                    server
                    with the Thinger.io instance, then develop and share your products with a full customizable
                    graphical
                    interface.</p>
                <p>Contact us to create, manage and share IoT products within minutes!</p>
            </div>
            <div class="about-top-four-div">
                <a href="#" class="">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="about-map-section">
    <div class="">
        <img src="/assets/image/google-img.png" alt="">
    </div>
</section>
<section class="about-bootom-section">
    <h6>Location</h6>
    <div class="microsoft-teams-img">
        <img src="/assets/image/MicrosoftTeams-image.png" alt="">
    </div>
    <div class="microsoft-text-p">
        <p>C/Jacinto Benavente, 2A. Planta 1ª</p>
        <p>Edificio Tripark. 28232 – Las Rozas de Madrid</p>
    </div>
    <div class="microsoft-icons">
        <button>
            <a href="#">
                <img src="/assets/image/facebook.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/twitter-bird.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/instagram.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/youtube.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/linkedin.svg">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="/assets/image/github.svg">
            </a>
        </button>
    </div>
</section>
<section class="footer-section">
    <div class="grid grid-nogutter footer-main-div">
        <div class="col-3 first-col-div">
            <div class="footer-content first-div">
                <p>Copyright © 2024</p>
                <p>INTERNET OF THINGER S.L.</p>
                <div class="thinger-div">
                    <img src="/assets/image/thinger_logo_white.svg">
                </div>
                <div class="cdti-div">
                    <img src="/assets/image/cdti.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-3 second-col-div">
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>About Us</h2>
                </div>
                <div class="footer-content-text-p">
                    <p>
                        <a href="#">Company</a>
                    </p>
                    <p>
                        <a href="#">Android App</a>
                    </p>
                    <p>
                        <a href="#">iOS App</a>
                    </p>
                    <p>
                        <a href="#">Cloud</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 second-col-div">
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>Help?</h2>
                </div>
                <div class="footer-content-text-p">
                    <p>
                        <a href="#">FAQ</a>
                    </p>
                    <p>
                        <a href="#">Privacy</a>
                    </p>
                    <p>
                        <a href="#">Term & conditions</a>
                    </p>
                    <p>
                        <a href="#">Support</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 third-col-div">
            <div class="footer-content">
                <div class="footer-heading">
                    <h2>Follow Us</h2>
                </div>
                <div class="footer-content-icons">
                    <button class="footer-icons">
                        <img src="/assets/image/facebook.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/twitter-bird.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/instagram.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/linkedin.svg" alt="">
                    </button>
                    <button class="footer-icons">
                        <img src="/assets/image/discord.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>