<section class="about-top-section">
    <div class="about-top-first-div">
        <div class="about-top-sceond-div">
            <h4>Thinger.io is an Open-Source platform created to simplify IoT product development.</h4>
            <div class="about-top-thrid-div">
                <p>Our ready-to-go connexion infrastructure allows to manage devices, store, monitor and analyze data
                    from
                    thousands of IoT sources.</p>
                <p>The premise is quite simple, use our cloud server to connect your devices or create your own IoT
                    server
                    with the Thinger.io instance, then develop and share your products with a full customizable
                    graphical
                    interface.</p>
                <p>Contact us to create, manage and share IoT products within minutes!</p>
            </div>
            <div class="about-top-four-div">
                <a href="#" class="">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="">
        <h6>Location</h6>
    </div>
    <div class="">
        <img src="/assets/image/MicrosoftTeams-image.png" alt="">
    </div>
    <div class="">
        <p>C/Jacinto Benavente, 2A. Planta 1ª</p>
        <p>Edificio Tripark. 28232 – Las Rozas de Madrid</p>
    </div>
    <div class="">
        <span>
            <a class="" href="#" target="">
                
            </a>
        </span>
    </div>
</section>